.home {
  background-color: antiquewhite;
  height: 500px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body {
  font-family: "Bricolage Grotesque", sans-serif;
}
.home_right {
  background-color: white;
  width: 420;
  padding: 10px;
  box-shadow: 10px 10px;
}
.home_left img {
  width: 200px;
  box-shadow: 10px 10px wheat;
}
